@font-face {
  font-family: 'icomoon';
  src: url('../fonts/icomoon.eot');
  src: url('../fonts/icomoon.eot') format('embedded-opentype'),
    url('../fonts/icomoon.ttf') format('truetype'),
    url('../fonts/icomoon.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-ken_minus:before {
  content: "\e911";
}
.icon-ken_plus:before {
  content: "\e914";
}
.icon-ken_quest:before {
  content: "\e90d";
}
.icon-ken_left:before {
  content: "\e90a";
}
.icon-ken_right:before {
  content: "\e90b";
}
.icon-ken_star:before {
  content: "\e908";
}
.icon-ken_msg:before {
  content: "\e905";
}
.icon-ken_down:before {
  content: "\e906";
}
.icon-ken_up:before {
  content: "\e907";
}
.icon-kenup:before {
  content: "\e910";
}
.icon-kenbot:before {
  content: "\e900";
}
.icon-kensearch:before {
  content: "\e901";
}
.icon-kentopbot .path1:before {
  content: "\e902";
  color: rgb(205, 205, 205);
}
.icon-kentopbot .path2:before {
  content: "\e903";
  margin-left: -1em;
  color: rgb(255, 102, 0);
}
.icon-kendelete:before {
  content: "\e904";
}
.icon-notice:before {
  content: "\e909";
}
.icon-kenwarning:before {
  content: "\e90c";
}
.icon-kenarrow_up:before {
  content: "\e912";
}
.icon-kenarrow_down:before {
  content: "\e913";
}
.icon-kenquestion:before {
  content: "\e917";
}
