<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>没牛.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{221,84}</string>
                <key>spriteSourceSize</key>
                <string>{221,84}</string>
                <key>textureRect</key>
                <string>{{1,1},{221,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>牛1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{221,84}</string>
                <key>spriteSourceSize</key>
                <string>{221,84}</string>
                <key>textureRect</key>
                <string>{{1,87},{221,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>牛2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{221,84}</string>
                <key>spriteSourceSize</key>
                <string>{221,84}</string>
                <key>textureRect</key>
                <string>{{1,173},{221,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>牛3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{221,84}</string>
                <key>spriteSourceSize</key>
                <string>{221,84}</string>
                <key>textureRect</key>
                <string>{{1,259},{221,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>牛4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{221,84}</string>
                <key>spriteSourceSize</key>
                <string>{221,84}</string>
                <key>textureRect</key>
                <string>{{1,345},{221,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>牛5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{221,84}</string>
                <key>spriteSourceSize</key>
                <string>{221,84}</string>
                <key>textureRect</key>
                <string>{{1,431},{221,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>牛6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{221,84}</string>
                <key>spriteSourceSize</key>
                <string>{221,84}</string>
                <key>textureRect</key>
                <string>{{1,517},{221,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>牛7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{221,84}</string>
                <key>spriteSourceSize</key>
                <string>{221,84}</string>
                <key>textureRect</key>
                <string>{{1,603},{221,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>牛8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{221,84}</string>
                <key>spriteSourceSize</key>
                <string>{221,84}</string>
                <key>textureRect</key>
                <string>{{1,689},{221,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>牛9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{221,84}</string>
                <key>spriteSourceSize</key>
                <string>{221,84}</string>
                <key>textureRect</key>
                <string>{{1,775},{221,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>牛牛.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{221,84}</string>
                <key>spriteSourceSize</key>
                <string>{221,84}</string>
                <key>textureRect</key>
                <string>{{1,861},{221,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>niu.png</string>
            <key>size</key>
            <string>{223,946}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0ccde9c1c5079642af6fc75afe0896eb:dc9f00c18f7574df2d5909d487c3b427:1cf054b138497af11bfd3718db16dd66$</string>
            <key>textureFileName</key>
            <string>niu.png</string>
        </dict>
    </dict>
</plist>
