<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>img_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{658,137}</string>
                <key>spriteSourceSize</key>
                <string>{658,137}</string>
                <key>textureRect</key>
                <string>{{867,1},{658,137}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>img_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{864,206}</string>
                <key>spriteSourceSize</key>
                <string>{864,206}</string>
                <key>textureRect</key>
                <string>{{1,1},{864,206}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{864,206}</string>
                <key>spriteSourceSize</key>
                <string>{864,206}</string>
                <key>textureRect</key>
                <string>{{1,209},{864,206}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{647,445}</string>
                <key>spriteSourceSize</key>
                <string>{647,445}</string>
                <key>textureRect</key>
                <string>{{1,417},{647,445}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{658,137}</string>
                <key>spriteSourceSize</key>
                <string>{658,137}</string>
                <key>textureRect</key>
                <string>{{1,864},{658,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>rule.png</string>
            <key>size</key>
            <string>{1005,1002}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e2924f9af40dc73316951ba275754016:73a1f5bf839169de8577c5f8080540ad:c177d89449869cf1947a7ccbd0066bb7$</string>
            <key>textureFileName</key>
            <string>rule.png</string>
        </dict>
    </dict>
</plist>
