<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>光.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,-19}</string>
                <key>spriteSize</key>
                <string>{352,298}</string>
                <key>spriteSourceSize</key>
                <string>{380,380}</string>
                <key>textureRect</key>
                <string>{{1,1},{352,298}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>圈.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-7}</string>
                <key>spriteSize</key>
                <string>{282,274}</string>
                <key>spriteSourceSize</key>
                <string>{380,380}</string>
                <key>textureRect</key>
                <string>{{355,1},{282,274}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>爆炸_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,8}</string>
                <key>spriteSize</key>
                <string>{168,278}</string>
                <key>spriteSourceSize</key>
                <string>{380,380}</string>
                <key>textureRect</key>
                <string>{{639,1},{168,278}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>爆炸_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,9}</string>
                <key>spriteSize</key>
                <string>{312,362}</string>
                <key>spriteSourceSize</key>
                <string>{380,380}</string>
                <key>textureRect</key>
                <string>{{1,301},{312,362}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>赢.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,154}</string>
                <key>spriteSourceSize</key>
                <string>{154,154}</string>
                <key>textureRect</key>
                <string>{{315,301},{154,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>高光.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{245,301}</string>
                <key>spriteSourceSize</key>
                <string>{245,301}</string>
                <key>textureRect</key>
                <string>{{471,301},{245,301}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>win.png</string>
            <key>size</key>
            <string>{808,664}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:deee92c1f190eb85b6b8a7ab60a6b329:a7c74d9c0902cdc702bb1e0c8034ea1b:993de4640215443c81192ae65fad77b6$</string>
            <key>textureFileName</key>
            <string>win.png</string>
        </dict>
    </dict>
</plist>
